body {
    background: #cee0dc;
}

button.calculate_button {
    margin: auto;
    padding: 10px 35px;
    background-color: #efbfc2;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
}

button.calculate_button:hover {
    box-shadow: 5px 5px 15px #aaa;
}

table {
    width: 400%;
  }
  
table, th, td {
border: 1px solid lightgrey;
border-collapse: collapse;
}
  
th, td {
padding: 2px 4px;
}