body {
    background: #cee0dc;
}

/*BMI Calculator Heading*/
h1 {
    background: #cee0dc;
    margin: auto;
    width: 40%;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

a.login_button {
    margin: auto;
    padding: 10px 35px;
    background-color: #efbfc2;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    /*box-shadow: 15px 15px 20px #a8a8a8;*/
    outline: none;
}

a.login_button:hover {
    box-shadow: 5px 5px 15px #aaa;
}

.left-section .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 40vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
}

.right-section .form {
    float: right;
    margin: 30vh auto;
    right: 0;
}

a.signup_button {
    position: relative;
    bottom: -110px;
    margin: auto;
    padding: 10px 35px;
    background-color: #efbfc2;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    /*box-shadow: 15px 15px 20px #a8a8a8;*/
    outline: none;
}

a.signup_button:hover {
    box-shadow: 5px 5px 15px #aaa;
}
