body {
    background: #cee0dc;
}

/*BMI Calculator Heading*/
h1 {
    background: #cee0dc;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

.left-section .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 58vh;
    width: 40vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
}

a.login_button {
    position: relative;
    bottom: 20%;
    left: 6px;
    margin: auto;
    padding: 10px 35px;
    background-color: #efbfc2;
    color: black;
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 22px;
    /* creates round button design */
    border-radius: 10px;
    outline: none;
}

a.login_button:hover {
    box-shadow: 5px 5px 15px #aaa;
}

.right-section .form {
    float: right;
    margin: 20vh auto;
    right: 0;
}

a.signup_button {
    position: relative;
    bottom: -65px;
    left: 120px;
    margin: auto;
    padding: 10px 35px;
    background-color: #efbfc2;
    color: black;
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 22px;
    border-radius: 10px;
    /*box-shadow: 15px 15px 20px #a8a8a8;*/
    outline: none;
}

a.signup_button:hover {
    box-shadow: 5px 5px 15px #aaa;
}
