<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BMI Calculator</title>
	</head>
	<body>
		<br>
		<br>
		<br>
		<div class="container" >
			<div class="row">
				<div>
					<!-- Blank DIV -->
				</div>
				
				<div>
					<!-- Form Tag starts here -->
					<!-- Action attribute is the route on backend. Method is POST -->
					<form action="http://localhost:3000/api/createbmi" method="post">
					
						<h1> BMI Calculator </h1>
							
						<input class="box" type="weight" name="weight" id="weight" placeholder="Enter your weight"  required /><br>
														
						<input class="box" type="height" name="height" id="height"  placeholder="Enter your height " required/><br>
						<br>
						<input type="submit" id="calculator"  name="calculator" value="Calculator" /><br>
					
					</form>			
				</div>	
				<div>
				</div>		
			</div>
		</div>
	</body>
</html>
