<!--- Home Page --->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BMI Calculator</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>BMI Calculator</h1><br>
    </body>
</html>

<!---
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BMI Calculator</a>
</nav>
--->

<div style="margin-top: 10px">
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/signup">Sign Up</a>
</div>

<!--- Affects background --->
<link rel="stylesheet" type="text/css" href="/style.css"