<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BMI Calculator</title>
	</head>
	<body>
		<a>Log In</a>
		<br>
		<br>
		<br>
		<div class="container" >
			<div class="row">
				<div>
					<!-- Blank DIV -->
				</div>
				
				<div>
					<!-- Form Tag starts here -->
					<!-- Action attribute is the route on backend. Method is POST -->
					<form action="http://localhost:3000/api/login" method="post">
					
						<h1> LogIn form </h1>
							
						<input class="box" type="username" name="username" id="username" placeholder="Enter your UserName"  required /><br>
														
						<input class="box" type="password" name="password" id="password"  placeholder="Enter your Password " required/><br>

						<br>
						<input type="submit" id="login"  name="login" value="Log In" /><br>
					
					</form>			
				</div>	
				<div>
					<!-- <a href="./login.html"> -->
                        <!-- <button>Go to LogIn</button> -->
                      <!-- </a> -->
				</div>		
			</div>
		</div>
	</body>
</html>